/******************
GENERAL STYLES
******************/

body{
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #eaeaea;
}


/******************
FIXED NAV
******************/

.navBar {
  height: 135px;
  width: 100%;
  max-width: 100%;
  background: #8c8c8c;
  background: linear-gradient(to right, #8c8c8c 37%, transparent);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .2);
  position: fixed;
  z-index: 1000;

}

.logo {
  display: inline-block;
  position: relative;
  height: 80px;
  width: 200px;
  left: 100px;
  top: 20px;
}

.userInput {
  position: relative;
  bottom: 10px;
  left: 120px;
  width: 54%;
  max-width: 100%;
  height: 35px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  outline: none;
  font-size: 16px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; 
  font-family: 'Exo', sans-serif;
  text-indent: 10px;
}

.clearButton {
  position: relative;
  height: 41px;
  left: 18px;
  bottom: 12px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; 
  outline: none;
  background: #32a940;
}

.darkTheme {
  position: relative;
  top: 30px;
  right: 675px;

}

.largeText {
  position: relative;
  top: 30px;
  right: 440px;

}

.dark-theme {
  position: relative;
  margin: 0;
  display: inline;
  font-size: 15px;
  font-family: 'Audiowide', cursive;
  color: white;
  top: 45px;
  right: 540px;
}

.large-text {
  position: relative;
  margin: 0;
  display: inline;
  font-size: 15px;
  font-family: 'Audiowide', cursive;
  color: white;
  top: 45px;
  right: 360px;
}

/******************
MESSAGE BOX
******************/

.messageContainer {
  position: relative;
  border: 1px solid black;
  width: 50%;
  top: 150px;
  margin: 0 auto;
  height: 700px;
  background-color: #eaeaea;
  background: linear-gradient(to bottom, grey 20%, transparent 80%);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
  box-shadow: inset -10px 10px 10px rgba(0, 0, 0, .4);
}

.individualMessage {
  margin: 1%;
  font-size: 1.2em;
}

.deleteButton {
  margin: 1%;
}

article {
  background: #65b47a;
  height: 40px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .4);
  font-family: 'Exo', sans-serif;
}

.individualMessage {
  margin: 0;
  margin-top: 7px;
  text-indent: 20px;
  padding-top: 5px;
}

.dark {
  background-color: #151515;
  color: white;
  animation-name: dark-mode;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: .9s;
}

@keyframes dark-mode {
  0%    {background-color: #eaeaea; color: black;}
  100%  {background-color: #151515; color: white;}
}

.large {
  font-size: 20px;
  animation-name: large-mode;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

@keyframes large-mode {
  0%    {font-size: 15px;}
  50%   {font-size: 22px;}
  100%  {font-size: 20px;}
} 











